* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1f1f1f;
  color: #f2ecec;
}
h1 {
  text-align: center;
  padding: 0.2rem;
}
img {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1.5rem;
  justify-content: center;
}

.card {
  width: 20%;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.card-foot {
  padding: 10px;
}
